<footer>
    <ul>
      <h4>SERVICES</h4>
      <li><a href="{{url}}dataprotection">Data Protection</a></li>
      <li><a href="{{url}}technicalsupport">Technical Assistance</a></li>
      <li><a href="{{url}}cloudservices">Cloud Services</a></li>
    </ul>
    <ul>
      <h4>SOLUTIONS</h4>
      <li><a href="{{url}}eticadata">Etica Data</a></li>
      <li><a href="{{url}}stylus">Stylus</a></li>
      <li><a href="#">Hotel Management</a></li>
    </ul>
    <ul>
      <h4>INFORMATION</h4>
      <li><a href="{{url}}privacypolicy">Privacy Policy</a></li>
      <li><a href="{{url}}termsandservices">Terms & Conditions</a></li>
      <li><a href="{{url}}contacts">Contacts</a></li>
    </ul>
    <ul>
      <h4>CONTACTS</h4>
      <p>Travessa dos cordilheiros na rua 5, 1800 Lisboa, Portugal</p>
      <p>Tel: +00 000 00 00 00</p>
      <p>Email: info@email.com</p>
    </ul>
</footer>