
<section class="clients">
  
    <div class="clients-logos">

      <div class="mySlides"><img src="{{url}}/assets/images/godaddy.svg"></div>
      <div class="mySlides"><img src="{{url}}/assets/images/nasa.svg"></div>
      <div class="mySlides"><img src="{{url}}/assets/images/ikea.svg"></div>
      <div class="mySlides"><img src="{{url}}/assets/images/nasa.svg"></div>
      <div class="mySlides"><img src="{{url}}/assets/images/godaddy.svg"></div>
      <div class="mySlides"><img src="{{url}}/assets/images/ikea.svg"></div>
  
    </div>

</section>